.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fa.fa-bell.fa-lg.header-icon.toggle-otifications#notifications(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    .dropdown-menu(aria-labelledby='notifications')
      .noti-head
        | notifications
        span 50
      .noti-content
        ul.list-unstyled
          li
            i.fa.fa-envelope-o.fa-lg.fa-envelope
            | You Get Email From Bilal
          li
            i.fa.fa-money.fa-lg.fa-money
            | You Get Money From Bilal
          li
            i.fa.fa-thumbs-o-up.fa-lg.fa-thumbs
            | You Get Like From Bilal
          li
            i.fa.fa-envelope-o.fa-lg.fa-envelope
            | You Get Email From Bilal
          li
            i.fa.fa-money.fa-lg.fa-money
            | You Get Money From Bilal
      .noti-foot.text-center: a(href="#") Viwe All Notifications
  i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon
  .dropdown.usermenu-container
    .username#usermenu(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      img.avatar.rounded-circle(src="imgs/01.jpg", alt="User Avatar")
      span.user Bilal Ribery
      i.fa.fa-angle-down.fa-lg
    .dropdown-menu.dropdown-menu-right(aria-labelledby='usermenu')
      .user-info
        h3 Bilal Ribery
        p Premium Member
      hr
      ul.activities-list.list-unstyled
        li Added Comment on Post "How To Make"
        li Created podt on Category "Sciense"
        li Created Chart on Charts Page
        li Added Comment on Post "How To Make Two"
      hr
      .row.usermenu-links
        .col
          .link-box
            i.fa.fa-gear.fa-lg.fa-fw.fa-gear
            span Settings
        .col
          .link-box
            i.fa.fa-user.fa-lg.fa-fw.fa-user
            span My Profile
        .col
          .link-box
            i.fa.fa-power-off.fa-lg.fa-fw.fa-power
            span Logout
